{:index 0, :time 7586196, :type :invoke, :process 0, :f :crash, :value nil}
{:index 1, :time 10248924, :type :invoke, :process 1, :f :poll, :value [[:poll]]}
{:index 2, :time 11340778, :type :info, :process 0, :f :crash, :value nil}
{:index 3, :time 12481513, :type :invoke, :process 2, :f :poll, :value [[:poll]]}
{:index 4, :time 5014009632, :type :info, :process 1, :f :poll, :value [[:poll]], :error :net-timeout}
{:index 5, :time 5014182866, :type :info, :process 2, :f :poll, :value [[:poll]], :error :net-timeout}
{:index 6, :time 5014228802, :type :invoke, :process 4, :f :send, :value [[:send "9" 1]]}
{:index 7, :time 5016170446, :type :invoke, :process 3, :f :send, :value [[:send "7" 1]]}
{:index 8, :time 10015198128, :type :info, :process 4, :f :send, :value [[:send "9" 1]], :error :net-timeout}
{:index 9, :time 10015408091, :type :invoke, :process 6, :f :poll, :value [[:poll]]}
{:index 10, :time 10016270984, :type :info, :process 3, :f :send, :value [[:send "7" 1]], :error :net-timeout}
{:index 11, :time 10016839000, :type :invoke, :process 5, :f :poll, :value [[:poll]]}
{:index 12, :time 15016358536, :type :info, :process 6, :f :poll, :value [[:poll]], :error :net-timeout}
{:index 13, :time 15016548903, :type :invoke, :process 8, :f :assign, :value ["9"]}
{:index 14, :time 15017131143, :type :info, :process 5, :f :poll, :value [[:poll]], :error :net-timeout}
{:index 15, :time 15017263461, :type :invoke, :process 7, :f :poll, :value [[:poll]]}
{:index 16, :time 20018795268, :type :info, :process 7, :f :poll, :value [[:poll]], :error :net-timeout}
{:index 17, :time 20018955328, :type :fail, :process 8, :f :assign, :value ["9"], :error :net-timeout}
